.aboutus{
    padding: 23px;
}


.timeline{
    height: 520px;
    display: flex;
}
.timepic{
    width: 200px;
    height: 130px;
}
.timecard{
    flex-grow: 10;

    border-left: 4px solid #7A450F ;

    padding: 25px 25px;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card{
    display: flex;
    align-items: center;

}
.years{
    margin: 40px;
}