@font-face {
    font-family: 'Naikai';
    src:local('NaikaiFont'),
        url('../fonts/NaikaiFont-Regular-Lite.woff2') format("woff2");
  }
body{
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 1200px;
    height: 600px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 15fr 70fr 15fr;
    grid-template-areas: 'pic top' 'pic main' 'pic bottom';
}
aside{
    grid-area: pic;
    display: flex;
    position: relative;
}
aside>h2{
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 5px;
    font-family: 'Naikai';
    color: #FAFAEB;
    text-shadow: 5px 5px 10px #7A450F;
    position: absolute;
    left: 150px;
    top: 150px;
    z-index: 15;
}

aside>img{
    width: 150px;
    height: 600px;
    object-fit: cover;
    
    opacity: 0.9;
    flex-grow: 1;
    transition: .5s;
}
aside>img:hover{
    flex-grow: 19;
}
header{
    grid-area: top;
    background-color: #FAFAEB;
}
main{
    grid-area: main;
}
footer{
    grid-area: bottom;
    background: #FAFAEB;
}

/* ----- top bar ------ */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #7A450F;
    letter-spacing: 2px;
    font-family: 'Naikai';
}
.logo::before{
    content: "參星";
    vertical-align: 90%;
}
.logo::after{
    content: "便當";
    vertical-align: 90%;
}
.logo>img{
    width: 75px;
}
h1{
    font-size: 35px;
    margin-bottom: 45px;
    color: #7A450F;
    font-weight: bold;
}
/* ----- main bar ------ */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainfc{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 16px;
    color: #7A450F;
    margin-top: 20px;
    margin-bottom: 10px;
}
.btn_login{
    background-color: #DB4F57;
    border: 0;
    font-size: 14px;
    line-height: 28px;
    color: #FAFAEB;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
/* ----- main sub part ----- */
.subfu>ul{
    display: flex;
    justify-content: center;
}
.subfu>ul>li{
    border-radius: 20px;
    overflow:  hidden;
    margin-right: 30px;
}
.subfu>ul>li:last-child{
    margin-right: 0;
}
.subfu>ul>li>a{
    text-decoration: none;
    text-align: center;
    display: block;
    color: #7A450F;
    background-color: #FAFAEB;
    width: 120px;
    font-size: 14px;
    line-height: 28px;
}