@import url(reset.css);
@import url(fonts.css);
@font-face {
    font-family: 'Naikai';
    src:local('NaikaiFont'),
        url('../fonts/NaikaiFont-Regular-Lite.woff2') format("woff2");
  }

body{}
/* 右邊主頁面 */
section{
  padding: 20px;
}
.sectiontopic{
  margin-bottom: 15px;
  text-align: right;
}
.seemline{
  width: 100%;
  height: 60px;
  position: relative;
}
.seemline a:nth-child(1){
  position: absolute;
  left: 40px;
  top: 0;
}
.seemline a:nth-child(2){
  position: absolute;
  left: 240px;
  top: 0;
}
.line{
  height: 50%;
  border-bottom:4px solid #7A450F;
}
.menu{}
.menu>ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'card1 card2 card3''card4 card5 card6';
  grid-gap: 20px;
}
.menu>ul>li{
  width: auto;
  height: 33vh;
  background-color: #FAFAEB;
  border-radius: 20px;
  position: relative;
}
.menu>ul>li:nth-child(1){
  grid-area: card1;
}
.menu>ul>li:nth-child(2){
  grid-area: card2;
}
.menu>ul>li:nth-child(3){
  grid-area: card3;
}
.menu>ul>li:nth-child(4){
  grid-area: card4;
}
.menu>ul>li:nth-child(5){
  grid-area: card5;
}
.menu>ul>li:nth-child(6){
  grid-area: card6;
}
.menu>ul>li>a{
  display: block;
  font-family: 'Naikai';
  font-size: 12px;
  color: #FAFAEB;
  text-align: center;
  border-radius: 20px;
  background-color: #DB4F57;
  width: 100px;
  line-height: 24px;

  position: absolute;
  right: 12px;
  bottom: 12px;
}
.pagenum{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.pagenum>ul{
  display: flex;
}
.pagenum>ul>li{
  margin-left: 30px;
}
.linebtn{
  width: 28px;
  line-height: 28px;
  font-family: 'Noto Sans TC';
  font-size: 14px;
  font-weight: bold;
  color: #7A450F;
  text-align: center;
  display: block;
  transition: .2s;
}
.linebtn:hover{
  border: 3px solid #DB4F57;
  color: #DB4F57;
  border-radius: 999px;
}