@font-face {
    font-family: 'Naikai';
    src: url(../fonts/NaikaiFont-Regular-Lite.woff2) format("woff2");
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@300;700&display=swap');

/* ----- basic ----- */
.wrapper{
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 3.3fr;
    grid-template-rows: 100vh;
}
h1{
    font-size: 28px;
    color: #7A450F;
    font-weight: bold;
    font-family: 'Naikai';
    letter-spacing: 4px;
}
h2{
    font-size: 28px;
    font-family: 'Naikai';
    letter-spacing: 10px;
    color: #7A450F;
    font-weight: bold;
}
h3{
    font-size: 16px;
    font-family: 'Noto Sans TC';
    color: #7A450F;
    font-weight: bold;
}
.page{
    font-family: monospace, 'Noto Sans TC';
    text-decoration: none;
    font-size: 16px;
    color: #7A450F;
    font-weight: bold;
    transition: .5s;
}
.page:hover{
    color: #DB4F57;
    font-size: 18px;
    text-shadow: #999;
}
p{
    font-family: monospace, 'Noto Sans TC', serif;
    font-size: 12px;
    color: #7A450F;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

/* ----- copy form from nav_menu ----- */
.topbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.topbarbottomlink{
    text-decoration: none;
    color: #7A450F;
    font-size: 18px;
    margin-left: 85px;
}


/* -------------------------------- */
.leftfunction{
/* ----- arritubte ----- */
    background-color: #FAFAEB;
    padding: 20px;
/* ----- grid part ----- */
    grid-column-start: 1;
    grid-column-end: 2;
/* ----- flex part ----- */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* ----- parent part set ----- */
.top{
    text-align: center;
}
.logo{
    margin-bottom: 20px;
}
.logo>a>img{
    width: 100px;
}
/* ----- top part set ----- */
.parent_pglist{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pglist{
    margin-bottom: 25px;
    text-align: center;
}
/* ---- midden part set ----- */

main{
/* ----- grid part ----- */
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url('../img/bg0001.jpg');
}
/* ----- page number form ----- */
.mainstyle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    margin: 0 auto;
}
.pgnum{
    text-decoration: none;
    color: #7A450F;
    font-family: monospace;
    transition: .1s;
}
.pgnum:hover{
    font-size: 18px;
    color: #DB4F57;
}