/* ----- main basic attrubute -----*/
main{
    padding: 23px 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 8fr 1fr;
    grid-template-areas: 'part1' 'part2' 'part3';
}
.topbar{
    grid-area: part1;
}
.maincard{
    grid-area: part2;
}
.mainstyle{
    grid-area: part3;
}




/* ----- top bar ----- */
.topbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.topbarbottomlink{
    text-decoration: none;
    color: #7A450F;
    font-family: 'Noto Sans TC';
    font-size: 18px;
    margin-left: 45px;
    transition: .5s;
}
.topbarbottomlink:hover{
    font-size: 20px;
    color: #DB4F57;
    font-weight: bold;
    text-shadow: 4px 4px 10px #999;
}

.mainstyle{}


/* -----  main section (card) ----- */
.maincard{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'card1 card2 card3' 'card4 card5 card6';
    align-items: center;
    justify-items: center;

    border-top: 3px solid #7A450F;
    /* ----- for hover part ----- */
}

.cardimg{
    width: 230px;
    height: 155px;
    background-position: center center;
    /* opacity: .3; */
}
.maincardhover{
    position: absolute;
    left: 0;
    top: -160px;
    transition: .5s;
}
.maincard>li{
    width: 230px;
    height: 155px;
    position: relative;
    overflow: hidden;
}
.maincard>li:hover .maincardhover {
    left: 0;
    top: 0;
}

.maincardhover>li{
    width: 230px;
    height: 155px;
    background-color: rgb(255, 255, 255 ,0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu_btn{
    display: flex;
    justify-content: space-around;
}
.maincardhover>li>p{
    letter-spacing: 3px;
}
#pls{
    background-color: #DB4F57;
    color: #FAFAEB;
    border: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
#min{
    background-color: #DB4F57;
    color: #FAFAEB;
    border: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
#count{
    width: 30px;
}
#submit{
    background: #DB4F57;
    color: #FAFAEB;
    border: 0;
    border-radius: 20px;
}

/* ---- cards grid area setting ----- */
.maincard>li:nth-child(1){
    grid-area: card1;
}
.maincard>li:nth-child(2){
    grid-area: card2;
}
.maincard>li:nth-child(3){
    grid-area: card3;
}
.maincard>li:nth-child(4){
    grid-area: card4;
}
.maincard>li:nth-child(5){
    grid-area: card5;
}
.maincard>li:nth-child(6){
    grid-area: card6;
}
/* ----- bottom bar ----- */
